<div class="row  align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title text-white">
        <i class="bg-icon  fa fa-dashboard"> <span style="font-size: 1.5em">主控面板</span></i>
        <p>设备在线情况汇总</p>

    </div>
</div>
<div class="row">
    <div class="col-8 col-md-4 col-xl-4 text-center">
        <div class="progress-circle progress-success" data-value="0.60" data-size="140" data-thickness="4"
             data-animation-start-value="0" data-reverse="false"><strong>65</strong></div>
        <br>
        <p class="text-uppercase">路灯在线率</p>
    </div>
    <div class="col-8 col-md-4 col-xl-4 text-center">
        <div class="progress-circle progress-danger" data-value="0.67" data-size="140" data-thickness="4"
             data-animation-start-value="0" data-reverse="false"><strong></strong></div>
        <br>
        <p class="text-uppercase">路灯亮灯率</p>
    </div>
    <div class="col-8 col-md-4 col-xl-4 text-center">
        <div class="progress-circle progress-warning " data-value="0.67" data-size="140" data-thickness="4"
             data-animation-start-value="0" data-reverse="false"><strong></strong></div>
        <br>
        <p class="text-uppercase">空气盒子在线率</p>
    </div>
    <div class="col-8 col-md-4 col-xl-4 text-center">
        <div class="progress-circle progress-primary " data-value="0.67" data-size="140" data-thickness="4"
             data-animation-start-value="0" data-reverse="false"><strong></strong></div>
        <br>
        <p class="text-uppercase">监控摄像机在线率</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-lg-8 col-xl-4">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">

                    <h5><span class="spincreament">3/5</span></h5>
                    <p>路灯在线数/总数</p>
                </div>
                <i class="fa fa-link text-success"></i></div>
            <br>
            <div class="media">
                <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
            </div>
            <i class="bg-icon text-right fa fa-link  text-success"></i></div>
    </div>
    <div class="col-md-8 col-lg-8 col-xl-4">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <h5><span class="spincreament">2/3</span></h5>
                    <p>路灯亮灯数/在线数</p>
                </div>
                <i class="fa fa-lightbulb-o text-warning"></i></div>
            <br>
            <div class="media">
                <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
            </div>
            <i class="bg-icon text-right fa fa-lightbulb-o text-warning"></i></div>
    </div>
    <div class="col-md-8 col-lg-8 col-xl-4">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <h5><span class="spincreament">2/3</span></h5>
                    <p>空气盒子在线数/总数</p>
                </div>
                <i class="fa fa-codepen text-danger"></i></div>
            <br>
            <div class="media">
                <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
            </div>
            <i class="bg-icon text-right fa fa-codepen text-danger"></i></div>
    </div>
    <div class="col-md-8 col-lg-8 col-xl-4">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <h5><span class="spincreament">2/3</span></h5>
                    <p>摄像机在线数/总数</p>
                </div>
                <i class="fa fa fa-video-camera text-primary"></i></div>
            <br>
            <div class="media">
                <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
            </div>
            <i class="bg-icon text-right fa fa-video-camera text-primary"></i></div>
    </div>
</div>

<div class="row">
    <div class="col-xs-16 col-md-8 col-lg-8 col-xl-8 text-center">
        <div class="card full-screen-container" id="PowerCons">
            <div class="card-header align-items-start justify-content-between flex">
                <h5 class="card-title  pull-left">历史能耗对比图
                    <small>年度</small>
                </h5>
                <ul class="nav nav-pills card-header-pills pull-right">
                    <li class="nav-item">
                        <select class="form-control outline-primary" id="areaForPowerCons">
                            <option value="0" selected>全部区域</option>
                            <option value="1">鼓楼区</option>
                            <option value="2">玄武区</option>
                            <option value="3">秦淮区</option>
                        </select>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-sm btn-link btn-round refresh-btn"><i class="fa fa-refresh"></i></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i>
                        </button>
                    </li>

                </ul>
            </div>
            <div class="card-block" id="parentPowerConsumptionHistory">
                <div id="containerPowerConsumptionHistory"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-16 col-md-8 col-lg-8 col-xl-8 text-center">
        <div class="card full-screen-container" id="LivePower">
            <div class="card-header align-items-start justify-content-between flex">
                <h5 class="card-title  pull-left">实时能耗曲线
                    <small>10s</small>
                </h5>
                <ul class="nav nav-pills card-header-pills pull-right">
                    <li class="nav-item">
                        <select class="form-control outline-primary" id="areaLivePower">
                            <option value="0" selected>全部区域</option>
                            <option value="1">鼓楼区</option>
                            <option value="2">玄武区</option>
                            <option value="3">秦淮区</option>
                        </select>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-sm btn-link btn-round refresh-btn"><i class="fa fa-refresh"></i></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i>
                        </button>
                    </li>

                </ul>
            </div>
            <div class="card-block" id="parentLivePowerContainer">
                <div id="containerLivePower"></div>
            </div>
        </div>
    </div>
</div>

</div>



<script src="js/Highcharts-5.0.12/code/themes/kevinstyle.js"></script>
<script src="js/customizeJS/dashboard.js"></script>
<script src="js/customizeJS/PowerConsumptionHistory.js"></script>