<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">
    <title>Ailight</title>
    <!-- Fontawesome icon CSS -->
    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">

    <!-- weather icons CSS -->
    <link rel="stylesheet" href="vendor/weather-icons-master/css/weather-icons.min.css" type="text/css">
    <link rel="stylesheet" href="vendor/weather-icons-master/css/weather-icons-wind.min.css" type="text/css">

    <!-- Themify CSS -->
    <link rel="stylesheet" href="../vendor/themify-icons/themify-icons.css" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="vendor/bootstrap4alpha/css/bootstrap.css" type="text/css">

    <!-- DataTables Responsive CSS -->
    <link href="vendor/datatables/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="vendor/datatables/css/responsive.dataTables.min.css" rel="stylesheet">

    <!-- jvectormap CSS -->
    <link href="vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet">

    <!-- Adminux CSS -->
    <link rel="stylesheet" href="css/dark_blue_adminux.css" type="text/css">


    <!-- kevin CSS -->
    <link href="css/owner/kevinCss.css" rel="stylesheet">
</head>
<body class="rounded menuclose menuclose-right" style="font-family: 微软雅黑" data-ng-app="myApp">
<!--上面的按钮下拉-->
<header class="navbar-fixed">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
        <div class="sidebar-left"><a class="navbar-brand" href="#"> <img
                class="hidden-sm-down" src="img/Logo.png"/> </a>
            <button class="btn btn-link icon-header mr-sm-2 pull-right menu-collapse"><span class="fa fa-bars"></span>
            </button>
        </div>

        <div class="d-flex mr-auto"> &nbsp;</div>
        <ul class="navbar-nav content-right">
            <li class="v-devider"></li>
            <li class="nav-item active"> <!-- 消息-->
                <button class="btn btn-link icon-header " data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><span class="fa fa-envelope-o"></span> <span
                        class="badge-number bg-success"></span></button>
                <div class="dropdown-menu message-container">
                    <div class="list-inline">
                        <a href="#" class="media"> <span class="message_userpic"><img class="d-flex mr-3"
                                                                                      src="img/user-header.png"
                                                                                      alt="Generic user image"></span>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">消息测试</h6>
                                消息内容测试
                            </div>
                        </a>
                        <a href="#" class="media"> <span class="message_userpic"><img class="d-flex mr-3"
                                                                                      src="img/user-header.png"
                                                                                      alt="Generic user image"></span>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">消息测试</h6>
                                你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢
                            </div>
                        </a>
                        <a href="#" class="media"> <span class="message_userpic"><img class="d-flex mr-3"
                                                                                      src="img/user-header.png"
                                                                                      alt="Generic user image"></span>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">消息测试</h6>
                                你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢
                            </div>
                        </a>
                        <a href="#" class="media"> <span class="message_userpic"><img class="d-flex mr-3"
                                                                                      src="img/user-header.png"
                                                                                      alt="Generic user image"></span>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">消息测试</h6>
                                你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢你怎么还不开始任务呢
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="v-devider"></li>
            <li class="nav-item"> <!-- 任务-->
                <button class="btn btn-link icon-header badgeCircle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><span class="fa fa-bell-o"></span><span
                        class="badge-number bg-danger"></span></button>
                <div class="dropdown-menu message-container">
                    <div class="list-unstyled">
                        <div class="media"><span class="alert-block bg-primary"><span
                                class="fa fa-bullhorn"></span></span>
                            <div class="media-body"><b>事件测试</b>事件内容测试
                            </div>
                        </div>

                    </div>
                </div>
            </li>

            <li class="v-devider"></li>
            <li class="nav-item "><a class="btn btn-link icon-header menu-collapse-right"><span
                    class="fa fa-podcast"></span> </a></li>
            <li class="v-devider"></li>

        </ul>
        <div class="sidebar-right pull-right ">
            <ul class="navbar-nav  justify-content-end">

                <li><a href="/" class="btn btn-link icon-header"><span class="fa fa-sign-out"></span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--左侧菜单-->
<div class="sidebar-left">
    <div class="user-menu-items ">
        <div class="list-unstyled  ">
            <div class="media flex-column  text-white textCenterKevin">
                <div class="media-body">
                    <h3 class="mt-1 mb-0 " style="font-family: 'Times New Roman'"> 21:22:22</h3>
                    <h6>2017年6月20日</h6>
                </div>

            </div>
        </div>
    </div>

    <ul class="nav flex-column in" id="side-menu">

        <li class="title-nav">MENU</li>
        <li class="nav-item "><a class="nav-link active" href="" ui-sref=".dashboard"><i
                class="fa fa-dashboard left-icon circle"></i>主控面板</a>
        </li>
        <li class="nav-item"><a class="nav-link " href="" ui-sref=".map"><i
                class="fa fa-map-marker left-icon circle"></i>电子地图</a>
        </li>
        <li class="nav-item "><a class="nav-link " href="" ui-sref=".gameInfo"><i
                class="fa fa-lightbulb-o left-icon circle"></i>路灯控制</a>
        </li>
        <li class="nav-item "><a class="nav-link " href="" ui-sref=".logInfo"><i
                class="fa fa-bar-chart-o left-icon circle"></i>趋势中心</a></li>
        <li class="nav-item "><a class="nav-link " href="" ui-sref=".logInfo"><i
                class="fa fa-eye left-icon circle"></i>视频监控</a></li>
        <li class="nav-item "><a class="nav-link " href="" ui-sref=".logInfo"><i
                class="fa fa-umbrella left-icon circle"></i>城市体征</a></li>
        <li class="nav-item "><a class="nav-link " href="" ui-sref=".logInfo"><i
                class="fa fa-bell-o left-icon circle"></i>报警中心</a></li>
        <li class="nav-item "><a class="nav-link " href="" ui-sref=".logInfo"><i
                class="fa fa-cubes left-icon circle"></i>资产管理</a></li>
        <li class="nav-item "><a class="nav-link " href="" ui-sref=".logInfo"><i
                class="fa fa-edit left-icon circle"></i>策略预案</a></li>
        <li class="nav-item "><a class="nav-link " href="" ui-sref=".logInfo"><i
                class="fa fa-film  left-icon circle"></i>媒体中心</a></li>
        <li class="nav-item "><a class="nav-link " href="" ui-sref=".logInfo"><i
                class="fa fa-gear left-icon circle"></i>系统设置</a></li>


    </ul>
    <hr>

    <br>
    <br>
</div>
<div class="wrapper-content">
    <div data-ui-view="">
        <div>

        </div>
    </div>
    <footer class="footer-content ">
        <div class="container ">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-16 col-lg-8 col-xl-8">This is designed by AAEON <a
                        href="http://www.aaeon.com" target="_blank" class="">www.aaeon.com</a></div>
                <div class="col-md-16 col-lg-8 col-xl-8 text-right"><a href="http://www.aaeon.com" target="_blank" class="">Privacy
                    Policy</a> | <a href="http://www.aaeon.com" target="_blank" class="">AAEON</a></div>
            </div>
        </div>
    </footer>
</div>
<div class="sidebar-right">
    <ul class="nav flex-column ">
        <li class="nav-item text-center">
            <div class="media flex-column  text-white textCenterKevin">
                <div class="media-body">
                    <h4>南京市麒麟工业园</h4>
                    <div class="mt-0 mb-1 ">
                        <span style="font-size: 3.5em;font-weight: lighter"> 28<span>℃</span>    <img
                                style="width: 80px;margin-top: -20px" src="img/weather/weather-clear.png"></span>
                    </div>
                    <div class="mt-0 mb-2 ">
                        <span><span>今天</span><span>31/21℃</span><span
                                class="v-devider"></span><span>明天</span><span>31/21℃</span></span>
                    </div>

                    <div class="row mt-0 mb-3 ">
                        <div class="  col-md-8 col-lg-8 col-xl-8"><span>晴</span><img style="width: 32px;margin-top: 0px"
                                                                                     src="img/weather/weather-clear.png">
                        </div>

                        <div class="  col-md-8 col-lg-8 col-xl-8"><span>阵雨</span><img
                                style="width: 32px;margin-top: 0px"
                                src="img/weather/weather-clear.png"></div>
                    </div>

                    <div class="mt-0 mb-3 ">
                        <span ><i class="wi wi-sunrise"></i><span>日出</span><span>05:03</span><span
                                class="v-devider"></span><i
                                class="wi wi-sunset"></i><span>日落</span><span>18:01</span></span>
                    </div>
                    <hr/>
                    <div class="row mt-3 mb-0 ">

                        <div class=" mt-2 mb-2 col-md-16 col-lg-16 col-xl-16">
                            <h5>气象信息指数</h5>
                        </div>

                        <div class="  col-md-16 col-lg-16 col-xl-16" >
                            <select class="form-control" id="userFormGameSelect">
                                <option value="1" selected>园区室内</option>
                                <option value="2">室外1</option>
                                <option value="3">室外2</option>
                            </select>
                        </div>


                    </div>

                    <div style="text-align: left" class="mt-2  ">
                        <span ><span>名称：</span><span id="curBoxName">05:03</span></span>
                    </div>
                    <div class="mt-1  " style="text-align: left">
                        <span class="mt-0  "><span>位置：</span><span id="curBoxLoc">05:03</span></span>
                    </div>
                    <hr/>
                    <div class="media mt-0 "><span><img style="width: 30px;height: 30px"
                                                        src="img/weatherbox/temprature.png"
                                                        alt="Generic user image"></span>
                        <div class="media-body " style="text-align: left">
                            <h6 class="mt-0 mb-0 ml-1" id="curBoxTemprature">BoxTemprature<span>℃</span></h6>
                            <div class="row mt-0 mb-0 " style="text-align: center">
                                <div class="  col-md-8 col-lg-8 col-xl-8" style="color: #3d7db8;">
                                    <span>Max:</span>
                                    <span id="curBoxTempratureMax"></span>
                                </div>

                                <div class="  col-md-8 col-lg-8 col-xl-8" style="color: #3d7db8;">
                                    <span>Min:</span>
                                    <span id="curBoxTempratureMin"><span>℃</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="media mt-0 "><span><img style="width: 30px;height: 30px"
                                                        src="img/weatherbox/humidity.png"
                                                        alt="Generic user image"></span>
                        <div class="media-body " style="text-align: left">
                            <h6 class="mt-0 mb-0 ml-1" id="curBoxHumidity">BoxTemprature<span>%</span></h6>
                            <div class="row mt-0 mb-0 " style="text-align: center">
                                <div class="  col-md-8 col-lg-8 col-xl-8" style="color: #3d7db8;">
                                    <span>Max:</span>
                                    <span id="curBoxHumidityMax">Max:<span>%</span></span>
                                </div>

                                <div class="  col-md-8 col-lg-8 col-xl-8" style="color: #3d7db8;">
                                    <span>Min:</span>
                                    <span id="curBoxHumidityMin">Min:<span>%</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="media mt-0 "><span><img style="width: 30px;height: 30px"
                                                        src="img/weatherbox/pm2.5.png"
                                                        alt="Generic user image"></span>
                        <div class="media-body " style="text-align: left">
                            <h6 class="mt-0 mb-0 ml-1" id="curBoxPM25">BoxTemprature</h6>
                            <div class="row mt-0 mb-0 " style="text-align: center">
                                <div class="  col-md-8 col-lg-8 col-xl-8" style="color: #3d7db8;">
                                    <span>Max:</span>
                                    <span id="curBoxPM25Max">Max:</span>
                                </div>

                                <div class="  col-md-8 col-lg-8 col-xl-8" style="color: #3d7db8;">
                                    <span>Min:</span>
                                    <span id="curBoxPM25Min">Min:</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="media mt-0 mb-0"><span><img style="width: 30px;height: 30px"
                                                            src="img/weatherbox/CO2.png"
                                                            alt="Generic user image"></span>
                        <div class="media-body " style="text-align: left">
                            <h6 class="mt-0 mb-0 ml-1" id="curBoxCO2">BoxTemprature<span>ppm</span></h6>
                            <div class="row mt-0 mb-0 " style="text-align: center">
                                <div class="  col-md-8 col-lg-8 col-xl-8" style="color: #3d7db8;">
                                    <span>Max:</span>
                                    <span id="curBoxCO2Max">Max:</span>
                                </div>

                                <div class="  col-md-8 col-lg-8 col-xl-8" style="color: #3d7db8;">
                                    <span>Min:</span>
                                    <span id="curBoxCO2Min">Min:</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div class="mt-1 mb-0 " >
                    <div><h5 class="mt-1 mb-3 ">环境亮度</h5></div>
                    <div style="text-align: left" class="mt-2 mb-3 "><span >设置灯亮值：</span><span>700</span> <span>&nbsp;lux</span></div>
                    <div class="mt-2 mb-0 "><i class="wi wi-moon-new pull-left"></i> <i class="wi wi-day-sunny pull-right"></i></div>
                    <div class="progress ml-3 mr-3">
                        <div class="progress-bar" role="progressbar" style="width: 34.5%" aria-valuenow="34.5"
                             aria-valuemin="0"
                             aria-valuemax="100000">3450
                        </div>
                    </div>
                </div>
            </div>


        </li>


    </ul>


</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="vendor/bootstrap4alpha/js/tether.min.js"></script>
<script src="vendor/bootstrap4alpha/js/bootstrap.min.js" type="text/javascript"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Circular chart progress js -->
<script src="vendor/cicular_progress/circle-progress.min.js" type="text/javascript"></script>







<!-- spincremente js -->
<script src="../vendor/spincrement/jquery.spincrement.min.js" type="text/javascript"></script>

<!-- DataTables JavaScript -->
<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables/js/dataTables.bootstrap4.js"></script>
<script src="../vendor/datatables/js/dataTables.responsive.min.js"></script>

<!-- custome template js -->
<script src="../js/adminux.js" type="text/javascript"></script>

<script src="http://api.map.baidu.com/api?v=2.0&ak=dH5VbXuNxvGMf71r91T8dFprPBo1zlqc" type="text/javascript"></script>
<!--加载鼠标绘制工具-->
<script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />




<script src="js/angular.js"></script>
<script src="js/angular-ui-router.js"></script>
<script src="js/App.js"></script>


<script src="js/Highcharts-5.0.12/code/highcharts.js"></script>
<script src="js/Highcharts-5.0.12/code/highcharts-3d.js"></script>
<script src="js/Highcharts-5.0.12/code/highcharts-more.js"></script>


<script src="js/customizeJS/main.js"></script>
<script>

</script>
</body>
</html>